@import "bootstrap-sprockets";
@import "bootstrap";
@import "posts.scss";
@import "static.scss";
@import "gritter";
@import "bourbon";
@import "admin_homepage.css";

.custom-nav {
  margin-top: 15px;
}
